@font-face {
   font-family:"Lobster-Regular";
   src: url(/Lobster/Lobster-Regular.ttf);
}

@keyframes slidebg {
   to {
     background-position:20vw;
   }
 }

html,body{
   margin: 0;
   padding: 0;
   background-color:  #daded4;
   font-family: 'Lobster-Regular', Times, serif;
}
body{
   min-height: 100vh;
   display: flex;
  flex-direction: column;
}
.header{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   padding: 1em;
   font-family: 'Lobster-Regular', Times, serif;
  
}
.info{
display: flex;
flex-direction: column;
align-items: center;
margin: 2em;

}

h1,p,h3{
   margin: 0;
   padding:0;
   color: #3c403d;
}
h3{
   margin-left: 0.3em;
}
#main{
  display: flex;
  flex: 1;
  gap: 1em;
}

#grid-container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

#options{
   display: flex;
   flex: 1;
   flex-direction: column;
   gap: 2em;
   justify-content: center;
   align-items: flex-end;
}

#grid{
   display: grid;
   background-color: aliceblue;
   width: 600px;
   height: 600px;
   flex: 1 0 1;
   margin-left: 2em;
}

#grid-size{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2em;
}

button{
   font-family: 'Lobster-Regular', Times, serif;
   font-size: large;
   width: 100px;
   height: 50px;
   border-radius: 5px;
   color: #3c403d;
}

#picker{
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
.cp{
   display: flex;
   flex-direction: column;
}


footer{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   padding: 1.3%;
}


/* Button Effects */

.rainbow:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}

button:hover,
button:focus {
  box-shadow: 3px 7px black;
  transform: translateY(-0.25em);
}

input:hover,
input:focus {
  box-shadow: 3px 7px black;
  transform: translateY(-0.25em);
}











/* Github logo Animation */
.fa-github {
   color: #3c403d;
   font-size: 24px;
   transition: transform 0.3s ease-in-out;
 }
 
 .fa-github:hover {
   transform: rotate(360deg) scale(1.2);
 }
































